@model CartViewModel

@{
	ViewData["Title"] = "Cart";
}

<style>
	th, td {
		max-width: 250px !important;
		vertical-align: middle !important;
	}
</style>

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>

		@if (Model.Cart.Count > 0)
		{
			<h5><i class="fa fa-map-marker"></i> Shipping Address</h5>
			<div class="form-group">
				<label for="Address">Street Address</label>
				<input type="text" class="form-control" id="Address" name="Information.Address" value="@Model.Information?.Address" readonly>
			</div>
			<div class="form-group">
				<label for="Ward">Ward</label>
				<input type="text" class="form-control" id="Ward" name="Information.Ward" value="@Model.Information?.Ward" readonly>
			</div>
			<div class="form-group">
				<label for="District">District</label>
				<input type="text" class="form-control" id="District" name="Information.District" value="@Model.Information?.District" readonly>
			</div>
			<div class="form-group">
				<label for="City">City</label>
				<input type="text" class="form-control" id="City" name="Information.City" value="@Model.Information?.City" readonly>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<th scope="col" class="image">Product Image</th>
							<th scope="col" class="name">Product Name</th>
							<th scope="col" class="price">Product Price</th>
							<th scope="col" class="quantity" colspan="3">Product Quantity</th>
							<th scope="col" class="total">Product Total</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>					
						@foreach (var item in Model.Cart)
						{
							<tr>
								<td class="cart_product">
									<img src="~/media/products/@item.Image" alt="@item.ProductName" width="70%" height="70%" />
								</td>
								<td class="cart_description">
									<h5><a asp-controller="Product" asp-action="Detail" asp-route-Id="@item.ProductId">@item.ProductName</a></h5>
								</td>
								<td class="cart_total">
									<h5 class="">@item.Price.ToString("#,##0 VNĐ")</h5>
								</td>							
								<td>
									<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-Id="@item.ProductId">-</a>
								</td>
								<td class="cart_quantity">
									<input class="cart_quantity_input btn btn-default btn-sm" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="1" readonly>
								</td>
								<td>
									<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-Id="@item.ProductId">+</a>
								</td>
								<td class="cart_total">
									<h5 class="">@Model.Cart.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("#,##0 VNĐ")</h5>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" asp-controller="Cart" asp-action="Delete" asp-route-Id="@item.ProductId" ><i class="fa fa-times"></i></a>									
								</td>								
							</tr>
						}
						<tr>									
							<td colspan="6"></td>
							<td>
								Grand Total: <h5 class="">@Model.GrandTotal.ToString("#,##0 VNĐ")</h5>
							</td>
						</tr>
						@if (!string.IsNullOrEmpty(Model.CouponCode))
						{
							<tr>
								<td colspan="6"></td>
								<td>
									Coupon (@Model.CouponCode): <h5 class="">-@Model.DiscountAmount.ToString("#,##0 VNĐ")</h5>
								</td>
							</tr>
							<tr>
								<td colspan="6"></td>
								<td>
									Total After Discount: <h5 class="">@Model.TotalAfterDiscount.ToString("#,##0 VNĐ")</h5>
								</td>
							</tr>
						}
						<tr>
							<td colspan="6"></td>
							<td>
								<form asp-action="ApplyCoupon" asp-controller="Cart" method="POST">
									<div class="form-group">
										<label for="CouponCode">Coupon:</label>
										<input type="text" name="CouponCode" id="CouponCode" class="form-control" />
										<button type="submit" class="btn btn-primary">Apply</button>
									</div>
								</form>
							</td>
						</tr>
						<tr>
							<td colspan="7"></td>
							<td>
								<form method="POST" asp-action="CreatePaymentUrlMoMo" asp-controller="Payment">
									<input type="hidden" name="Amount" value="@Model.TotalAfterDiscount" />
									<input type="hidden" name="OrderInfo" value="Thanh Toán Bằng MoMo" />

									<button class="btn btn-primary" name="PayUrl" type="submit">Pay With MoMo</button>
								</form>
								
								<form method="POST" asp-action="CreatePaymentUrlVnPay" asp-controller="Payment">
									<input type="hidden" name="Amount" value="@Model.TotalAfterDiscount" />
									<input type="hidden" name="OrderInfo" value="Thanh Toán Bằng VnPay" />
									<input type="hidden" name="OrderType" value="other" />

									<button class="btn btn-primary" type="submit">Pay With VnPay</button>
								</form>
								<form asp-action="Checkout" asp-controller="Checkout" method="GET">
									<input type="hidden" name="PaymentMethod" value="COD" />
									<input type="hidden" name="PaymentId" value="" />

									<button class="btn btn-primary" type="submit">Pay With Cash</button>
								</form>
							</td>
						</tr>						
					</tbody>
				</table>
			</div>
		}
		else
		{
			<h5>Your Cart Is Empty. <a asp-action="Index" asp-controller="Home">Go To Home Page To Buy.</a></h5>
		}
	</div>
</section> <!--/#cart_items-->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}	
}   