@model CartViewModel

@{
	ViewData["Title"] = "Cart";
}

<style>
	td {
		max-width: 250px;
		vertical-align: middle;
	}
</style>

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		@if (Model.Cart.Count > 0)
		{
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<th scope="col" class="image" style="max-width: 250px; vertical-align: middle;">Product Image</th>
							<th scope="col" class="name" style="max-width: 250px; vertical-align: middle;">Product Name</th>
							<th scope="col" class="price" style="max-width: 250px; vertical-align: middle;">Product Price</th>
							<th scope="col" class="quantity" colspan="3" style="max-width: 250px; vertical-align: middle;">Product Quantity</th>
							<th scope="col" class="total" style="max-width: 250px; vertical-align: middle;">Product Total</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>					
						@foreach (var item in Model.Cart)
						{
							<tr>
								<td class="cart_product">
									<img src="~/media/products/@item.Image" alt="@item.ProductName" width="70%" height="70%" />
								</td>
								<td class="cart_description">
									<h5><a asp-controller="Product" asp-action="Detail" asp-route-Id="@item.ProductId">@item.ProductName</a></h5>
								</td>
								<td class="cart_total">
									<h5 class="">@item.Price.ToString("#,##0 VNĐ")</h5>
								</td>							
								<td>
									<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-Id="@item.ProductId">-</a>
								</td>
								<td class="cart_quantity">
									<input class="cart_quantity_input btn btn-default btn-sm" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="1" readonly>
								</td>
								<td>
									<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-Id="@item.ProductId">+</a>
								</td>
								<td class="cart_total">
									<h5 class="">@Model.Cart.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("#,##0 VNĐ")</h5>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" asp-controller="Cart" asp-action="Delete" asp-route-Id="@item.ProductId" ><i class="fa fa-times"></i></a>									
								</td>								
							</tr>
						}

						<tr>
							@* <td>						 *@
							@* 	<div class="form-group"> *@
							@* 		<label>Tỉnh / Thành Phố:</label> *@
							@* 		<select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh / Thành"> *@
							@* 			<option value="0">Tỉnh Thành</option> *@
							@* 		</select> *@
							@* 	</div> *@

							@* 	<div class="form-group"> *@
							@* 		<label>Quận / Huyện:</label> *@
							@* 		<select class="css_select" id="quan" name="quan" title="Chọn Quận / Huyện"> *@
							@* 			<option value="0">Quận Huyện</option> *@
							@* 		</select> *@
							@* 	</div> *@

							@* 	<div class="form-group"> *@
							@* 		<label>Phường / Xã:</label> *@
							@* 		<select class="css_select" id="phuong" name="phuong" title="Chọn Phường / Xã"> *@
							@* 			<option value="0">Phường Xã</option> *@
							@* 		</select> *@
							@* 	</div> *@

							@* 	<a class="btn btn-primary btn-add-shipping">Charge Shipping Fee</a> *@
							@* 	<h5 class="">@Model.ShippingPrice.ToString("#,##0 VNĐ")</h5> *@
							@* </td> *@
							<td colspan="6"></td>
							<td>
								Grand Total: <h5 class="">@Model.GrandTotal.ToString("#,##0 VNĐ")</h5>
							</td>
						</tr>
						<tr>
							<td colspan="7"></td>
							<td>
								<form method="POST" asp-action="CreatePaymentUrlMoMo" asp-controller="Payment">
									<input type="hidden" name="FullName" value="@User.Identity.Name" />
									<input type="hidden" name="Amount" value="@Model.GrandTotal" />
									<input type="hidden" name="OrderInfo" value="Thanh Toán Bằng MoMo" />

									<button class="btn btn-primary btn-sm" name="PayUrl" type="submit">Pay With MoMo</button>
								</form>
								
								<form method="POST" asp-action="CreatePaymentUrlVnPay" asp-controller="Payment">

									<input type="hidden" name="Name" value="@User.Identity.Name" />
									<input type="hidden" name="Amount" value="@Model.GrandTotal" />
									<input type="hidden" name="OrderDescription" value="Thanh Toán Bằng VnPay" />
									<input type="hidden" name="OrderType" value="other" />

									<button class="btn btn-primary btn-sm" type="submit">Pay With VnPay</button>
								</form>
								@* <a class="btn btn-primary" onclick="handleCheckout(@Model.ShippingPrice)">Pay With Cash</a> *@
								<a class="btn btn-primary btn-sm" asp-action="Checkout" asp-controller="Checkout">Pay With Cash</a>
							</td>
						</tr>
						@* <tr> *@
						@* 	<td colspan="7"></td> *@
						@* 	<td> *@
						@* 		<a class="btn btn-primary" onclick="handleCheckout(@Model.ShippingPrice)">Checkout</a> *@
						@* 	</td> *@
						@* </tr> *@

					</tbody>
				</table>
			</div>
		}
		else
		{
			<h5>Your Cart Is Empty. <a asp-action="Index" asp-controller="Home">Go To Home Page To Buy.</a></h5>
		}
	</div>
</section> <!--/#cart_items-->

@section Scripts {

	@* <script> *@
	@* 	function handleCheckout(shippingPrice) { *@
	@* 		if (shippingPrice <= 0) { *@
	@* 			Swal.fire({ *@
	@* 				icon: 'warning', *@
	@* 				title: 'Can Not Checkout', *@
	@* 				text: 'You Do Not Charge Shipping!!!' *@
	@* 				}); *@
	@* 		} else { *@
	@* 			window.location.href = '/Checkout/Checkout'; *@
	@* 		} *@
	@* 	} *@
	@* </script> *@

	<script>
		$(document).ready(function() {
				$(".btn-add-shipping").click(function () {
				var tinh = $("#tinh").val();
				var quan = $("#quan").val();
				var phuong = $("#phuong").val();

				if (tinh === "0" || quan === "0" || phuong === "0") {
					Swal.fire({
						icon: 'warning',
						title: 'Missing Address Info',
						text: 'Please Select All fields: Province, District, and Ward!!!'
					});
				} else {
					$.ajax({
						type: "POST",
						url: "@Url.Action("AddShipping", "Cart")",
						data: { tinh: $("#tinh option:selected").text(), quan: $("#quan option:selected").text(), phuong: $("#phuong option:selected").text() },
						success: function (result) {
							if (result) {
								location.reload();
							}
						}
					});
				}
			});
		
			//Lấy tỉnh thành
			$.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm',function(data_tinh) {
				if(data_tinh.error==0){
					$.each(data_tinh.data, function (key_tinh,val_tinh) {
						$("#tinh").append('<option value="'+val_tinh.id+'">'+val_tinh.full_name+'</option>');
					});
					$("#tinh").change(function(e){
						var idtinh=$(this).val();
						//Lấy quận huyện
						$.getJSON('https://esgoo.net/api-tinhthanh/2/'+idtinh+'.htm',function(data_quan) {
							if(data_quan.error==0){
								$("#quan").html('<option value="0">Quận Huyện</option>');
								$("#phuong").html('<option value="0">Phường Xã</option>');
								$.each(data_quan.data, function (key_quan,val_quan) {
									$("#quan").append('<option value="'+val_quan.id+'">'+val_quan.full_name+'</option>');
								});
								//Lấy phường xã
								$("#quan").change(function(e){
									var idquan=$(this).val();
									$.getJSON('https://esgoo.net/api-tinhthanh/3/'+idquan+'.htm',function(data_phuong){
										if(data_phuong.error==0){
											$("#phuong").html('<option value="0">Phường Xã</option>');
											$.each(data_phuong.data, function (key_phuong,val_phuong) {
												$("#phuong").append('<option value="'+val_phuong.id+'">'+val_phuong.full_name+'</option>');
											});
										}
									});
								});

							}
						});
					});

				}
			});
		});
	</script>
}