@using WebsiteQuanLyBanHangOnline.Repository
@model MoMoModel
@{
    ViewData["Title"] = "MoMo Information";

    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;

        pageNo = pager.CurrentPage;
    }
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Order Id</th>
            <th scope="col">Order Info</th>
            <th scope="col">Full Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Created Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.OrderId</td>
            <td>@Model.OrderInfo</td>
            <td>@Model.FullName</td>
            <td>@Model.Amount.ToString("#,##0 VND")</td>
            <td>@Model.CreatedDate</td>
        </tr>
        <a asp-controller="Order" asp-action="Index" class="btn btn-warning btn-sm">Back</a>
    </tbody> 
</table>
<partial name="_Paging" model="@pager" />