@using WebsiteQuanLyBanHangOnline.Models.ViewModels
@model IEnumerable<OrderDetailViewModel>
@{
    ViewData["Title"] = "Order Detail List";
    decimal subTotal = 0;
    decimal totalAmount = 0;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Order Code</th>
            <th scope="col">User Name</th>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subTotal = item.Price * item.Quantity;
            totalAmount += subTotal; 
            <tr>
                <input type="hidden" asp-for="@item.OrderCode" class="getId" />
                <td>@item.Id</td>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.ProductId</td>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>   
                <td>@subTotal</td>              
            </tr>
        }
        <tr>
            <td>Total Amount: @totalAmount</td>
        </tr>     
        <tr>
            <td>
                @if (@ViewBag.Status != 3)
                {
                    <select class="form-control select-update-order">
                        <option value="1">Đã Đặt Hàng</option>
                        <option value="2">Đã Giao Hàng</option>
                        <option value="0">Đã Huỷ</option>
                    </select>
                }
            </td>
        </tr>
        <a asp-controller="Order" asp-action="Index" class="btn btn-warning btn-sm">Back</a>
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var orderCode = $('.getId').val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateView")",
                    data: { status: status, orderCode: orderCode },

                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                title: "Update Status Successfully!!!",
                                icon: "success"
                            });
                        } else {
                            Swal.fire({
                                title: "Update Status Failed!!!",
                                icon: "success"
                            });
                        }
                    }
                });
            });
        });
    </script>
}