@using WebsiteQuanLyBanHangOnline.Repository
@model IEnumerable<CategoryModel>
@{
    ViewData["Title"] = "Danh Sách Danh Mục";

    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;

        pageNo = pager.CurrentPage;
    }
}

<div class="container">
<p><a asp-controller="Category" asp-action="Add" class="btn btn-warning btn-sm">Thêm Danh Mục</a></p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tên Danh Mục</th>
            <th scope="col">Mô Tả</th>
            @* <th scope="col">Slug</th> *@
            <th scope="col">Trạng Thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.Name</td>
                <td>@Html.Raw(@item.Description)</td>
                @* <td>@item.Slug</td> *@
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Hiển Thị</span>
                    }
                    else
                    {
                        <span class="text text-danger">Ẩn</span>
                    }
                </td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning btn-sm">Sửa</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-warning btn-sm confirmDeletion">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Paging" model="@pager" />
</div>