@model ProductQuantityModel
@{
    ViewData["Title"] = "Add Product Quantity";
    decimal total_quantities = 0;

    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;

        pageNo = pager.CurrentPage;
    }
}

<form asp-action="UpdateQuantity" asp-controller="Product" enctype="multipart/form-data">
    <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label>Quantity</label>
        <input min="1" value="1" asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger" />
    </div>

    <div class="form-group">
        <button class="btn btn-warning btn-sm">Add</button>
        <a asp-action="Index" asp-controller="Product" class="btn btn-warning btn-sm">Back</a>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Quantity Added</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productByQuantity in ViewBag.ProductByQuantity)
        {
            total_quantities += productByQuantity.Quantity;
            <tr>
                <td>@productByQuantity.Id</td>
                <td>@productByQuantity.Quantity</td>
                <td>@productByQuantity.CreatedDate</td>
            </tr>
        }
        <tr>
            <td>Total Quantities: @total_quantities</td>
        </tr>
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}