@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Product List";
}

<a asp-controller="Product" asp-action="Add" class="btn btn-primary btn-sm">Add Product</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Quantity</th>
            <th scope="col">Quantity</th>
            <th scope="col">Sold</th>
            <th scope="col">Product Slug</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Brand</th>
            <th scope="col">Product Manager</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td><img src="~/media/products/@item.Image" width="100%" height="100%"/></td>
                <td>@Html.Raw(@item.Description)</td>
                <td>@item.Price.ToString("#,##0 VNĐ")</td>
                <td><a asp-action="AddQuantity" asp-controller="Product" asp-route-Id="@item.Id">Add Quantity</a></td>
                <td>@item.Quantity</td>
                <td>@item.Sold</td>
                <td>@item.Slug</td>
                <td>@item.Category.Name</td>
                <td>@item.Brand.Name</td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-primary btn-sm confirmDeletion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>