@using WebsiteQuanLyBanHangOnline.Repository
@model CouponModel
@{
    ViewData["Title"] = "Coupon List";

    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;

        pageNo = pager.CurrentPage;
    }

    var coupons = ViewBag.Coupons as List<CouponModel>;
}

<a asp-controller="Coupon" asp-action="Add" class="btn btn-warning btn-sm">Add Coupon</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Discount Type</th>
            <th>Discount Value</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Quantity</th>
            <th>Active</th>
            <th>Status</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var coupon in coupons)
        {
            <tr>
                <td>@coupon.Id</td>
                <td>@coupon.Name</td>
                <td>@coupon.Description</td>
                <td>@coupon.DiscountType</td>
                <td>@(coupon.DiscountType == DiscountType.Percent ? coupon.DiscountValue + "%" : coupon.DiscountValue.ToString("#,##0 VNĐ"))</td>
                <td>@coupon.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@coupon.EndDate.ToString("dd/MM/yyyy")</td>
                <td>@coupon.Quantity</td>
                <td>
                    <form asp-action="ToggleStatus" method="POST" style="display:inline;">
                        <input type="hidden" name="Id" value="@coupon.Id" />
                        <button type="submit" class="btn btn-sm @(coupon.Status == 1 ? "btn-success btn-sm" : "btn-danger btn-sm")">
                            @(coupon.Status == 1 ? "On" : "Off")
                        </button>
                    </form>
                </td>
                <td>
                    @if (coupon.EndDate < DateTime.Now)
                    {
                        <span class="text-danger">Đã Hết Hạn</span>
                    }
                    else
                    {
                        int daysLeft = (coupon.EndDate - DateTime.Now).Days;
                        <span class="text-success">@daysLeft Ngày Còn Lại</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Coupon" asp-route-Id="@coupon.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-controller="Coupon" asp-route-Id="@coupon.Id" class="btn btn-warning btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Paging" model="@pager" />

@section Scripts {
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}